@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
    font-family: 'Lobster', cursive;
    background-color: #F75990;
}

body { 
    background-color: #F75990;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
 }

header {
    color: black;
}

nav {
    background-color: #f7ec72;
    padding: 20px;
    font-size: 20px;
}

a:hover {
    background: #40D2F7;
}

h1 {
    font-size: 40px;
    justify-content: center;
    text-align: center;
} 

h2 {
    font-size: 25px;
    justify-content: center;
    text-align: center; 
}

p {
    font-family: 'Roboto', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 19px;
    justify-content: center;
    flex-wrap: wrap;
}

div.banner {
    margin: 0px;
}

div.intro {
    font-family: 'Lobster', cursive;
    font-size: 20px;  
    padding-top: 30px;;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 10px;   
    text-align: center;
    align-content: center;
}

div.work {
    flex-basis: 100px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px; 
}

div.portfolio {
    font-family: 'Lobster', cursive;
    font-size: 20px; 
    padding-top: 5px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 5px; 
    text-align: center;
}

div.projects {
    /* flex-basis: 100px; */
    justify-content: center; 
    align-items: center;
    padding-top: 5px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 5px;
    font-size: 25px;
}

.projects {
    flex-basis: 100px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

div.contact {
    font-family: 'Lobster', cursive;
    font-size: 20px; 
    padding-top: 5px;
    padding-right: 500px;
    padding-left: 500px;
    padding-bottom: 5px; 
    text-align: center;
}

div.logos {
    display: flex;
    justify-content: center;
    padding: 10px;
}

div.form-item {
    justify-content: center;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

div.label {
    display: block-inline;
    text-align: center;
    width: 500px;
    border: 2px solid  #40D2F7;
    padding: .5rem;
    font-size: 18px;
    border-radius: 20px;
}

div.input textarea {
    display: block-inline;
    width: 800px;
    border: 2.5px solid  #40D2F7;
    padding: 1rem;
    font-size: 18px;
    border-radius: 5rem;
    }

div.button {
    align-content: center;;
}

a:hover {
    background: #40D2F7;
}

footer {
    display: inline-block;
    background-color: #f7ec72;
    padding: 20px;
    font-size: 15px;
    color: black;
    text-align: center;
}