@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet');

html {
    font-family: 'Lobster', cursive;
}

header {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 20px;
    background-color: #F75990;
    }

#banner-image {
    }

nav {
    background-color: #f7ec72;
    object-position: center;
    margin: 30px;
    padding: 5px;
    }

body { 
    background-color: #F75990;
    display: flex;
    justify-content: right;
    padding: 30px;
    flex-wrap: wrap;
    }

h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    }

#footer {
    background-color: #f7ec72; 
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}

#profile-image {
padding-top: 30px;;
}

#intro-text {

}

#work-samples {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}

